.page.theme_dark {
  --accent-color: #FF0070;
  --font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif; 
  --font-color: #000028;
  --font-color-menu: #FF0070;
  --font-color-menu-hover: #32312D 40%;
  --title-color: #DB00FF;
  --title-decor-color: #FF0070;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
  --accent-color: #FF0070;
  --font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif; 
  --font-color: #000028;
  --font-color-menu: #FF0070;
  --font-color-menu-hover: #32312D 40%;
  --title-color: #DB00FF;
  --title-decor-color: #FF0070;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);   
    }
  }