.page.theme_light {
  --accent-color: #FF0070;
  --font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif; 
  --font-color: #353430;
  --font-color-menu: #353430;
  --font-color-menu-hover: #FF0070 40%;
  --title-color: #FFC2E6;
  --title-decor-color: #FF8DCB;
  --background-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);
}

.theme_light .decorated-zone__text {
  display: none;
}

@media (prefers-color-scheme: light) {
:root {
  --accent-color: #FF0070;
  --font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif; 
  --font-color: #353430;
  --font-color-menu: #353430;
  --font-color-menu-hover: #FF0070 40%;
  --title-color: #FFC2E6;
  --title-decor-color: #FF8DCB;
  --background-color: #FFF1F7;
  --background-image: url(../images/cover-image-light.png);   
  }
   
  .decorated-zone__text {
      display: none;
  }
}

