.page {
  background-attachment: fixed;
  background-color: var(--background-color);
  background-image: var(--background-image);
  block-size: auto;
  background-size: cover;
}

.header {
  min-block-size: 100%;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-content: normal;
  padding: var(--padding-desktop);
  margin-bottom: var(--header-margin-bottom-desktop);
}

.decorated-zone__text {
  position: absolute;
  top: var(--decoration-desktop);
  right: 48px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
}

.decorated-zone__text::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  top: 8px;
  right: -19px;
  background: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
}

.header::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: var(--decoration-desktop);
  top: 723px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: var(--accent-color);
}

.header::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: var(--decoration-desktop);
  top: var(--decoration-desktop);
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--accent-color);
}

.decorated-zone {
  height: 768px;
}

.container {
  position: relative;
}

.header_title {
  margin-left: -20px;
  align-self: flex-start;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  color: var(--title-color);
  line-height: 82.5%;
}

.text-shadow {
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header_description {
  justify-self: end;
  align-self: center;
  max-width: 491px;
  min-height: 70px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--font-color);
}

.title-decor {
  background: var(--title-decor-color);
}

.header__theme-menu {
  display: flex;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-item {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  color: var(--font-color-menu);
}

.header__theme-menu-button {
  color: var(--font-color-menu);
  padding: 2px 13px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--font-color-menu);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--font-color-menu);
  border-top: inherit;
  border-left: inherit;
  border-right: inherit;
  outline: 1px solid transparent;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--font-color-menu-hover);
  color: var(--font-color-menu-hover);
} 

.header__theme-menu-button_active:hover {
  outline: none;
  color: inherit;
  cursor: default;
}

.section__block-one {
  display: grid;
  grid-template-columns: 335px 1fr;
  margin-bottom: var(--text-block-margin-bottom-desktop);
  font-family: var(--font-family);
  line-height: var(--line-height);
}

.section__block-one .block_text:not(:last-child) {
  margin-bottom: var(--block_text-margin-bottom);
}

.block_text_title {
  color: var(--font-color-title);
  margin-left: var(--decoration-desktop);
  font-size: var(--font-size);
}

.block_text_subtitle {
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--title-decor-color);
  font-size: var(--font-size);
}

.block_text {
  color: var(--font-text-color);
  margin-top: var(--block_text-margin-top);
  font-size: var(--font-size);
}

.section__block-two {
  display: grid;
  font-family: var(--font-family);
  line-height: var(--line-height);
  margin-bottom: var(--text-block-margin-bottom-desktop);
  gap: var(--section_gap);
}

.block_text_title-pale {
  color: var(--font-color);
  background-color: var(--title-decor-color);
  font-weight: 400;
  margin-top: 20px;
}

.section__block-two .block_text_title {
  max-width: 315px;
}

.block_two {
  display: flex;
}

.block_two .block_text {
  max-width: 315px;
}

.article {
  padding-left: var(--padding-desktop);
}

.article:last-child {
  padding-right: var(--padding-desktop);
}

.section__block-three {
  display: grid;
  grid-template-columns: 335px 1fr;
  font-family: var(--font-family);
  line-height: var(--line-height);
}

.section__block-four-img {
  margin-top: var(--text-block-margin-bottom-desktop); 
}

.section__block-four-img .block_text_subtitle {
  margin-left: var(--decoration-desktop);
  margin-right: var(--decoration-desktop);
}

.link_text-shadow {
  text-shadow: 1px 1px 0px var(--accent-color);
}

.main_link {
  color: var(--font-text-color);
  text-decoration: none;
}

.main_link:hover {
  text-decoration: underline;
  text-decoration-color: var(--font-text-color);
}

.main_link:focus-visible {
  border-bottom: var(--title-decor-color);
  outline: 1px solid var(--font-text-color);
  padding: 1px 5px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3 1fr);
  gap: 20px;
  padding: var(--padding-desktop);
  padding-bottom: 0;
} 

.gallery__card {
  display: block;
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.gallery__card-sunset {
  grid-column: span 2;
}

.gallery__card-cream {
  grid-row: span 2;
}

.gallery__card-tape {
  grid-row: 2 / span 2;
}

.gallery__card-books {
  grid-column: 2;
}

.gallery__card-street {
  grid-column: 2 / 2 span;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-desktop);
  margin-top: var(--footer-margin-top-desktop);
}

.footer::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: var(--decoration-desktop);
  bottom: 20px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: var(--accent-color);
}

.footer::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: var(--decoration-desktop);
  top: 20px;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--accent-color);
}

.footer_title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  color: var(--title-color);
  line-height: 82.5%;
}

@media (width <=769px) {

  .header {
    padding: 0;
  }

  .header_description {
    margin-bottom: 20px;
  }

  .title-decor {
    max-width: 364px;
    margin-right: var(--decoration-desktop);
  }

  .header::before {
    top: 980px;
  }
  
  .decorated-zone {
    height: 1024px;
  }

  .header_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: 0;
  }

  .header__theme-menu {
    justify-content: flex-end;
    margin-top: 191px;
    margin-right: 20px;
  }

  .header__theme-menu-list {
    display: inline;
  }

  .header__theme-menu-item {
    margin-bottom: 15px;
  }

  .header__theme-menu-item:last-child {
    margin-bottom: 0;
  }

  .gallery {
    display: inline-block;
  }

  .section__block-one {
    grid-template-columns: 255px 1fr;
  }

  .section__block-one .block_text_subtitle {
    margin-top: 0;
  }

  .section__block-two .block_text_title {
    max-width: 236px;
  }

  .block_two .block_text {
    max-width: 768px;
  }

  .block_two {
    display: inline-block;
  }

  .section__block-two .block_text {
    margin-bottom: var(--block_text-margin-bottom);
    margin-right: 20px;
  }

  /* ---------остановился тут -----------*/

  


  .section__block-three {
    display: inline-block;
  }
}
  




@media (width <=376px) {
  
  .header {
    display: inline-block;
    margin-bottom: var(--header-margin-bottom-mobile);
  }

  .decorated-zone {
    max-height: 668px;
  }

  .section__block-two .block_text_title {
    max-width: 355px;
  }
  
  .block_two .block_text {
    max-width: 355px;
    margin-bottom: var(--block_text-margin-bottom);
  }

  .no_margin .block_text   {
    margin-bottom: 0;
  }


  .section__block-one {
    margin-bottom: var(--text-block-margin-bottom-mobile);
  }

  .section__block-two {
    margin-bottom: var(--text-block-margin-bottom-mobile);
  }

  .section__block-two .block_text_title {
    max-width: 355px;
  }

  .block_text_subtitle {
    margin-top: 0;
    margin-right: var(--decoration-mobile);
  }

  .section__block-one .block_text_subtitle {
    margin-right: 0;
  }

  .no_margin .block_text_subtitle {
    margin-right: 0;
  }

  .section__block-three .block_text_subtitle {
    margin-right: 0;
  }

  .block_text_title {
    margin-left: var(--decoration-mobile);
    margin-bottom: var(--block_text-margin-bottom);
    max-width: 355px;
  }

  .article {
    padding-left: var(--padding-mobile);
  }
  
  .article:last-child {
    padding-right: var(--padding-mobile);
  }

  .gallery {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }

  .gallery__card {
    margin-bottom: 10px;
  }

  .gallery__card-street {
    margin-bottom: 0;
  }

  .section__block-four-img .block_text_subtitle {
    margin-left: var(--decoration-mobile);
    margin-right: var(--decoration-mobile);
  }

  .main_link {
    text-decoration: underline;
  }

  .section__block-three .main_link {
    text-decoration: none;
  }

  .section__block-four-img {
    margin-top: var(--text-block-margin-bottom-mobile);
  }

  .header_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-top: 70px;
    margin-left: 0;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 68px;
  }

  .header__theme-menu-item {
    margin-bottom: 10px;
  }

  .title-decor {
    max-width: 355px;
    align-self: flex-start;
    margin-top: 56px;
  }

  .footer {
    padding: 0;
    margin-top: var(--footer-margin-top-mobile);
  }
  
  .footer::before {
    left: var(--decoration-mobile);
    bottom: var(--decoration-mobile);
  }
  
  .footer::after {
    right: var(--decoration-mobile);
    top: var(--decoration-mobile);
  }
  
  .footer_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__theme-menu-button {
    padding: 1px 13px;
  }

  .header__theme-menu-list {
    align-self: center;
    display: inline;
    
  }

  .header__theme-menu-item {
    margin-bottom: 16px;
  }

  .header__theme-menu-item:last-child {
    margin-bottom: 0;
  }
}

